/* CSS Reset */
.square {
    margin:0; 
    padding:0; 
    font-size:100%; 
    line-height:1; 
}
/* #element rules: */
.square {
   height: 300px;
   width: 300px;
   background: blue;
   margin: auto;
   position: relative;
   line-height: 300px;
   text-align: center;
   
    
}
.center {
    -ms-transform: translate(0px,150px); /* IE 9 */
    -webkit-transform: translate(0px,150px); /* Safari */
    transform: translate(0px,150px); /* Standard syntax */
}